body {
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	background-color: white;
	height: 100%;
}

header {
	text-align: center;
	height: 40px;
	background-color:   #56BAEC;
	padding-bottom: 40px;
}
footer {
	  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: grey;
  text-align: center;
}

h1 {
	font-size:50px; 
	margin-top: 0;
	padding-top: 10px;
}

div {
	width:60%;
	margin-left: auto;
	margin-right: auto;
}
ul {
	list-style-type: none;
}

#content{
	text-align: center;

}

.slideshow {
	margin: 0px  auto;
	text-align: center;
}


/*
http://www.w3schools.com/w3css/w3css_slideshow.asp

*/