body {
    background-color: #A5876D;
    margin-top: 0;
}

#wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F3E7D5;
    box-shadow: #333 3px 3px 15px;
    margin-top: 0;
}

#wrapper h1 {
    margin-top: 30px;
    margin-left: 30px;
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
}

#beer-info {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px; line-height: 32px;
    margin-left: 40px;
    width: 700px;
    margin-top: -20px;
}

#subheader {
    color: #7c795d; font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 30px;
    margin-top: 60px;
}

/* Slideshow */

#slide-show-container {
    width: 1200px;
    height: 500px;
    background-color: #575757;
    border-bottom: #ff7329 5px solid;
    box-shadow: 0 2px 10px -4px black;
}

#slide-image {
    width: 1200px;
    height: 500px;
}

#pause-start-button {
    position: absolute;
    top: 10px;
    margin-left: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* Info boxes */

#info-box-wrapper {
    padding-top: 20px;
    padding-bottom: 100px;
    overflow: hidden;
}

.info-box {
    background-color: #F7F3EA;
    float: left;
    width: 300px;
    border: 1px solid #ddd;
    box-shadow: #333 1px 1px 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.box-img {
    width: 300px;
    height: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 3px solid #dddddd;

}

.box-header {
    margin-left: 10px;
}

.box-text {
    margin-left: 10px;
    margin-right: 10px;
    font-size: medium;
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 28px;
}

#box1 {
    margin-left: 30px;
}

#box2 {
    margin-left: 120px;
}

#box3 {
    float: right;
    margin-right: 30px;
}

/* Footer */

footer {
    border-top: #ff7329 4px solid;
    box-shadow: 0 -2px 10px -4px black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px 1px 0px #000;
    background-color: #363636;
    color: #ccc;
}
